.new-task-list-container {
	width: 300px;
	min-height: 45px;
	background-color: lightblue;
	border-radius: 5px;	
	padding: 10px;
	display: inline-grid;
	margin-right: 30px;
	position: absolute;
}

.new-task-list-container > .task-list-input-field,
.new-task-list-container.new-task-list-iddle > .btn-new-task-list {
	display: block;
}

.new-task-list-container > .btn-new-task-list,
.new-task-list-container.new-task-list-iddle > .new-task-list-input-field {
	display: none;
}

.btn-new-task-list {
	outline: none;
    width: 100%;
    height: 100%;
    font-size: 19px;
    cursor: pointer;
    color: aliceblue;
}

.new-task-list-name-input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
    display: block;
}

#btn-save-new-task-list {
    width: 150px;
    margin-top: 5px;
}

#btn-cancel-new-task-list {
    margin-top: 5px;
    background-color: aliceblue;
    margin-left: 5px;
    border: none;
    color: #c3c3c3;
    width: 120px;
}

div.task-list {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    display: inline-grid;
    width: 300px;
    margin-right: 10px;
    position: relative;
}

.task-list-title-container {
	cursor: pointer;
}

.task-list-title-text {
    font-size: 19px;
    color: aliceblue;
}

.task-list-title-container > .btn-edit-task-list,
.task-list-title-container.task-list-title-container-iddle > .task-list-title-update-container,
.task-list-title-container > .task-list-title-text {
	display: none;
}

.task-list-title-container > .task-list-title-update-container,
.task-list-title-container.task-list-title-container-iddle > .task-list-title-text {
	display: block;
}

.task-list-title-container.task-list-title-container-iddle > .btn-edit-task-list {
    position: absolute;
    right: 6px;
    top: 7px;
    color: aliceblue;
    display: block;
}

.task-list-title-update-container > input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
    display: block;
}

#btn-save-new-task-list,
.btn-save-task-list {
    width: 150px;
    margin-top: 5px;
}

.btn-cancel-task-list {
    margin-top: 5px;
    background-color: aliceblue;
    margin-left: 5px;
    border: none;
    color: #c3c3c3;
    width: 60px;
}

.btn-delete-task-list {
    margin-top: 5px;
    background-color: #EA2020;
    margin-left: 5px;
    border: none;
    color: #c3c3c3;
    width: 60px;
}

.task-list > div:not(:first-child){
    margin-top:10px;
}