.new-task-container > .task-input-field,
.new-task-container.new-task-container-iddle > .btn-new-task {
	display: block;
}

.new-task-container > .btn-new-task,
.new-task-container.new-task-container-iddle > .new-task-input-field {
	display: none;
}

.new-task-container > .btn-new-task {
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.new-task-name-input,
.task-name-input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    outline: none;
    display: block;
    color: black;
}

.btn-save-new-task {
    width: 150px;
    margin-top: 5px;
}

.btn-cancel-new-task {
    margin-top: 5px;
    background-color: aliceblue;
    margin-left: 5px;
    border: none;
    color: #c3c3c3;
    width: 125px;
}

.task {
    padding: 15px;
    border-radius: 5px;    
    background-color: cadetblue;
    cursor: pointer;
    position: relative;
    color: aliceblue;
}

.task.task-finished {
    background-color: #50B283;
}

.btn-edit-task {
    position: absolute;
    right: 0px;
    top: 10px;
    display: none;
    color: aliceblue;
}

.task:hover.task-iddle > .btn-edit-task {
    display: block;
}

.task-list-body {
    min-height: 30px;
}

.task-list-body > div:not(:first-child) {
    margin-top:10px;
}

/*old*/

.task > .task-update,
.task.task-iddle > .task-text {
	display: block;
}

.task > .task-text,
.task.task-iddle > .task-update {
	display: none;
}

.btn-save-task {
    margin-top: 10px;
    width: 75px;
    color: #c3c3c3;
}

.task.task-finished > .task-update > .btn-status-task::after {
    content:"Reverter";
}

.task > .task-update > .btn-status-task::after {
    content:"Concluir";
}

.task.task-finished > .task-update > .btn-status-task {
    background-color: #;
}

.btn-status-task {
    width: 75px;    
    background-color: #5cb85c;
    border: none;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

.btn-cancel-task {
    margin-top: 10px;
    background-color: aliceblue;
    margin-left: 5px;
    border: none;
    color: #c3c3c3;
    width: 42px;
}

.btn-delete-task {
    margin-top: 10px;
    background-color: #EA2020;
    margin-left: 5px;
    border: none;
    width: 42px;
    color: #c3c3c3;
}

.btn-cancel-task:hover,
.btn-delete-task:hover {
	color:#fff;
}